@model WebApplication1.Models.Product

@{
    ViewBag.Title = "DemoExpressions";
}

<table>
    <thead>
        <tr>
            <th>
                Property
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>
                Price
            </td>
            <td>
                @Model.Price
            </td>
        </tr>
        <tr>
            <td>
                Stock Level
            </td>
            <td>
                @*@switch ((int)ViewBag.ProductCount)
                    {
                        case 0:
                            <b>Out of Stock (@ViewBag.ProductCount)</b>
                            break;
                        case 1:
                            <b>Low Stock (@ViewBag.ProductCount)</b>
                            break;
                        default:
                            @ViewBag.ProductCount
                            break;
                    }*@

                @if (ViewBag.ProductCount == 0)
                {
                    @:Out of Stock
                }
                else if (ViewBag.ProductCount == 1)
                {
                    <b>Low Stock (@ViewBag.ProductCount)</b>
                }
                else
                {
                    @ViewBag.ProductCount
                }
            </td>
        </tr>
    </tbody>
</table>

<br />
<div data-discount="@ViewBag.ApplyDiscount" dataexpress="@ViewBag.ExpressShip" data-supplier="@ViewBag.Supplier">
    The containing element has data attributes:
</div>

Discount:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
Express:<input type="checkbox" checked="@ViewBag.ExpressShip" />
Supplier:<input type="checkbox" checked="@ViewBag.Supplier" />
